* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    margin-top: 40px;
    margin-left: 42px;

}

.topo {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.88px;
    text-align: center;
    color: rgba(23, 35, 61, 1);
    margin-right: 32px;
    cursor: pointer;
    text-shadow: 2px 2px 4px blue;
}

.button {
    width: 124px;
    height: 51px;
    border: 1px solid;
    border-color: rgba(111, 191, 68, 1);
    border-radius: 12px;
    background: rgba(76, 181, 56, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: 1s;
    box-shadow: 7px 8px 4px #7bcd7b;
}

.button:hover {
    transform: translateY(-5px);
    color:greenyellow;

}

.button:active{
    color:white;
}

main {
    display: inline-block;
}

img {
    width: 595.18px;
    height: 500px;
    margin: 100px 0px 0px 121px;
    margin-left: 121px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 84.82px;

}

h1 {
    width: 582px;
    height: 164px;
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    color: rgba(22, 26, 73, 1);
    text-shadow: -7px 1px 11px blue;

}

p {
    width: 493px;
    height: 99px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: rgba(75, 80, 90, 1);
    margin-top: 47px;
    margin-bottom: 55px;

}

a {
    width: 112px;
    height: 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: rgba(111, 191, 68, 1);
    margin-top: 47px;
    margin-bottom: 55px;
    cursor: pointer;
}

@media screen and (max-width: 800px){

    main{
        display: block;
        
    }

    header{
        padding: 0;
        margin: 0;
    }

    .topo{
        display: none;
    }

    section{
        display: block;
        position: absolute;
        top: 124px;
        margin-left: 0;
    }

    h1{
        width: 278px;
        height: 60px;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0.6px;
        color: rgba(22, 26, 73, 1);
        text-align: center;
        margin: 0px 55px 0 55px;

    }

    p{
        width: 304px;
        height: 165px;
        font-weight: 400;
        font-size: 18px;
        line-height: 33px;
        letter-spacing: 0.5px;
        color: rgba(75, 80, 90, 1);
        margin: 47px 43px 22px 43px;
        text-align: center;

    }

    a{
        width: 112px;
        height: 27px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 1px;
        color: rgba(111, 191, 68, 1);
        margin: 0px 138px 0 138px;
        cursor: pointer;

    }
  
    img{
        width: 298px;
        height: 282px;
        position: absolute;
        top: 490px;
        right: 61px;
        bottom: 49px;
        left: 49px;
        display: block;
        margin: 0;


    } 

    .button {
        position: absolute;
        left: 278px;
        width: 91px;
        height: 31px;
        border: 1px solid;
        border-color: rgba(111, 191, 68, 1);
        border-radius: 5px;
        background: rgba(76, 181, 56, 1);
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 1px;
        color: rgba(255, 255, 255, 1);
        cursor: pointer;
        top: 17px;
        right: 15px;
}

}
